body{
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}

header{
    display: block;
    width: 100%;
    z-index: 2;
}

.flex{
    border-right: 2px solid rgb(118, 118, 118);
    /* border-bottom: 2px solid rgb(118, 118, 118); */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(80, 199, 255, 0.9), rgba(255, 255, 255, 0.9) 80%);
    z-index: 2;
}


.header-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

h3{
    font-family: serif;
    font-size: 35px;
    margin: -40px 0;
}

.symbol{
    height: 70px;
    width: 70px;
    border-radius: 80%;
    margin-right: 10px;
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.call{
    color: #3a3a3a;
}

.phone{
    transition: 0.2s transform ease;
}

.phone:hover{
    transform: scale(1.2);
    transform-origin: center center;
}

.phone:active{
    transform: translateY(3px);
}

.hamburger-list{
    margin-right: 50px;
    padding-right: 40px;
    display: flex;
    gap: 28px;
}

.list{
    list-style-type: none;
}

.nav{
    font-family: serif;
    font-size: 20px;
    color: #3a3a3a;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.nav:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transform: translateX(-100%, 0%);
    background-color: #3a3a3a;
    /* transform: translate(0, 0); */
    transition: width cubic-bezier(0.215, 0.610, 0.355, 1)0.3s;
    content: "";
}

.nav:hover:after{
    width: 100%;
}
/* ハンバーガーメニュー */
.menu-toggle {
    cursor: pointer;
    display: none;
    /* transition: display 0.5 ease-in-out; */
}

/* ヘッダーレスポンシブ */
@media screen and (max-width: 1270px) {
    body{
        height: 100%;
    }
    
    .flex{
        height: 40px;
        width: 100%;
        justify-content: left;
        gap: 50px;
    }
    
    h3{
        font-size: 20px;
        margin: 0;
    }
    
    .menu-toggle {
        display: block;
        /* margin-top: 10px; */
    }
    
    .header-right{
        margin-right: 30px;
        gap: 30px;
    
    }
    
    .hamburger-list {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 120%;
        position: absolute;
        top: 80px;
        left: 0;
        /* right: 0; */
        background-color: rgba(255, 255, 255, 0.9);
        transition: max-height 0.5s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }
    
    .hamburger-list.show {
        display: flex;
        max-height: 300px; 
    }
    }
    
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0);
        }
    }

.tag{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: #50c7ff;
    margin: 160px 70px 0 70px;
    padding: 20px;
    text-shadow: 0 8px 5px rgb(90, 90, 90);
    color: white;

}

/* main */

main{
    padding: 0;
    margin: 0 0 50px 0;
    overflow: hidden;
    /* margin-top: 135px; */
}

small{
    font-family: serif;
    color: #5D5D5D;
    margin-left: 70px;
}

h1{
    font-size: 50px;
    margin-left: 80px;
}

.food{
    margin-top: 50px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    /* width: 1200px; */
    /* margin: 0 auto; */
}

.card{
    max-width: 100%;
    padding: 25px;
    margin: 0 auto;
    border-radius: 15px;
    border: 1px solid #000000;
    height: 500px;
    width: 450px;
    /* background-color: rgba(254, 255, 212, 0.5); */
}

h5{
    font-weight: bold;
    font-family: serif;
}

.button{
    font-family: serif;
    display: flex;
    justify-content: right;
    align-items: end;
    /* padding-bottom: 20px; */
    padding-right: 20px;
}

.info-image{
    width: 100%;
    height: 300px;
}

img{
    width: 100%;
    height: 100%;
}

.info{
    padding-top: 30px;
}

.card-title{
    font-size: 20px;
}

.btn{
    border: 1px solid rgba(12, 142, 255, 0.709);
    border-radius: 10px;
    background-color: rgba(12, 142, 255, 0.709);
    width: 9vw;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #000000;
    transition: all 0.4s ease;
}

.btn:hover{
    color: rgba(12, 142, 255, 0.709);
    background-color: #ffffff;
}

/* mainのレスポンシブ */
@media screen and (max-width: 1270px){
    .tag{
        height: 8px;
        line-height: 8px;
        font-size: 18px;
        margin: 110px 20px 0 20px;
    }

    small{
        margin-left: 20px;
    }

    h1{
        font-size: 25px;
        text-align: center;
        margin: 0;
        margin-top: 30px;
    }

    .food{
        margin-top: 20px;
    }

    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 30px 0 0 0;
        padding: 0;
        width: 100%;
    }

    .card{
        padding: 0;
        width: 300px;
        display: flex;
        flex-direction: column;
        /* justify-content: space-between */
        align-items: center;
    }


    h5{
        text-align: center;
    }

    .info{
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn{
        width: 150px;
    }

    .button{
        padding: 0;
    }
}

footer{
    background-image: url(../img/花.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.pagetop{
    border-radius: 80%;
    background-color: rgba(80, 199, 255, 0.5);
    width: 70px;
    height: 70px;
    position: fixed;
    top: 73%;
    right: 3%;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.scroll{
    opacity: 0;
    transition: all 0.5s ease;
}

.scroll:hover{
    transform: scale(1.1);
    background-color: #186dff;
}

.scroll:active{
    transform: translateY(20px);
}

.scroll.visible{
    opacity: 1;
}

.go-top{
    padding-left: 26px;
    line-height: 70px;
}

.footer-lane{
    padding-top: 30px;
    width: 100%;
    background: linear-gradient(to bottom, #50c7ff, rgb(255, 255, 255) 90%);
}

.footer-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.anchor-below{
    font-family: serif;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: black;
    border: 1px solid black;
    width: 13vw;
    transition: 0.3s color ease-in-out;
}

.anchor-below:hover{
    color: rgba(0, 0, 0, 0.4);
}

.copyright{
    font-family: serif;
    text-align: center;
    line-height: 80px;
}

/* footerのレスポンシブ */
@media screen and (max-width: 1270px) {
    footer{
       width: 100%;
       height: 10vh;
    }

    .footer-lane{
        padding-top: -30px;
    }

    .anchor-below{
        width: 25vw;
    }

    .anchor-below{
        font-size: 14px;
        width: 35vw;
    }
}

