body{
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 100%; */
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
}

header{
    display: block;
    width: 100%;
    z-index: 2;
}

.flex{
    border-right: 2px solid rgb(118, 118, 118);
    /* border-bottom: 2px solid rgb(118, 118, 118); */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(80, 199, 255, 0.9), rgba(255, 255, 255, 0.9) 80%);
    z-index: 2;
}


.header-left{
    display: flex;
    justify-content: left;
    align-items: center;
}

h3{
    font-family: serif;
    font-size: 35px;
    margin: -40px 0;
}

.symbol{
    height: 70px;
    width: 70px;
    border-radius: 80%;
    margin-right: 10px;
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.call{
    color: #3a3a3a;
}

.phone{
    transition: 0.2s transform ease;
}

.phone:hover{
    transform: scale(1.2);
    transform-origin: center center;
}

.phone:active{
    transform: translateY(3px);
}

.nav-list{
    margin-right: 50px;
    padding-right: 40px;
    display: flex;
    gap: 28px;
}

.list{
    list-style-type: none;
}

.nav{
    font-family: serif;
    font-size: 20px;
    color: #3a3a3a;
    text-decoration: none;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.nav:after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transform: translateX(-100%, 0%);
    background-color: #3a3a3a;
    /* transform: translate(0, 0); */
    transition: width cubic-bezier(0.215, 0.610, 0.355, 1)0.3s;
    content: "";
}

.nav:hover:after{
    width: 100%;
}
/* ハンバーガーメニュー */
.menu-toggle {
    cursor: pointer;
    display: none;
    /* transition: display 0.5 ease-in-out; */
}

/* ヘッダーレスポンシブ */
@media screen and (max-width: 1270px) {
    body{
        height: 100%;
    }
    
    .flex{
        height: 40px;
        width: 100%;
        justify-content: left;
        gap: 50px;
    }
    
    h3{
        font-size: 20px;
        margin: 0;
    }
    
    .menu-toggle {
        display: block;
        /* margin-top: 10px; */
    }
    
    .header-right{
        margin-right: 30px;
        gap: 30px;
    
    }
    
    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 120%;
        position: absolute;
        top: 80px;
        left: 0;
        /* right: 0; */
        background-color: rgba(255, 255, 255, 0.9);
        transition: max-height 0.5s ease-in-out;
        max-height: 0;
        overflow: hidden;
    }
    
    .nav-list.show {
        display: flex;
        max-height: 300px; 
    }
    }
    
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0);
        }
    }

.tag{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    background-color: #50c7ff;
    margin: 160px 70px 0 70px;
    padding: 20px;
    text-shadow: 0 8px 5px rgb(90, 90, 90);
    color: white;

}

/* main */

main{
    padding: 0;
    margin: 0 0 0 0;
    overflow: hidden;
    /* margin-top: 135px; */
}

small{
    font-family: serif;
    color: #5D5D5D;
    margin-left: 70px;
}

.first{
    font-size: 30px;
}

.message-box{
    font-family: serif;
    background-color: rgb(240, 247, 254);
    margin: 100px auto 50px auto;
    padding: 30px;
    width: 70vw;
    font-size: 23px;
    line-height: 80px;
    text-align: center;
    box-shadow: 
        0 -8px 8px #b0b0b0, /*上方向*/
        -8px 0px 8px #b0b0b0, /*左方向*/
        8px 0px 8px #b0b0b0, /*右方向*/
        0px 8px 8px #b0b0b0; /*下方向*/
}

.underline{
    background: linear-gradient(rgba(240, 247, 254, 0.6) 60%, rgba(255, 140, 0, 0.4) 60% );
}

.width{
    display: inline-block;
    width: 60vw;
    text-align: left;
    margin-top: 20px;
}

.image-post{
    width: 24vw; 
    height: 30vh;
    display: block;
    margin: 0 auto;
}

.flex-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
}

.additional{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 110px;
}

.journey{
    display: flex;
    align-items: center;
    border: 1px solid rgba(121, 121, 121, 0.3);
    background-color: white;
    color: black;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 8px 8px 8px #3a3a3a;
    width: 40vw;
    transition: all 0.3s;
}

.journey:hover{
    transform: scale(1.1);
    opacity: 0.6;
}

.figure{
    width: 10vw;
    height: 14vh;
}

.fade-in-element{
    opacity: 0; /* 初めは非表示にする */
    transition: opacity 1s ease; /* フェードインのアニメーションを追加 */
}

.fadeIn{
    opacity: 1;
}

.left{
    margin-left: 30px;
}

.box{
    background-color: #f2ff00;
    border-radius: 10px;
}

iframe{
    width: 470px;
    height: 250px;
}

/* mainのレスポンシブ */
@media screen and (max-width: 1270px){
    main{
        margin: 0;
    }

    .tag{
        height: 8px;
        line-height: 8px;
        font-size: 18px;
        margin: 110px 20px 0 20px;
    }

    small{
        margin-left: 20px;
    }

    .message-box{
        margin: 20px auto 25px auto;
        line-height: 20px;
        font-size: 10px;
        padding: 10px;
    }

    .first{
        font-size: 10px;
        font-weight: bold;
    }

    .flex-box{
        flex-direction: column;
        gap: 0px;
    }

    .image-post{
        width: 35vw;
        height: 12vh;
        margin: 13px;
    }

    .additional{
        flex-direction: column;
        gap: 5px;
    }

    .journey{
        width: 70vw;
        padding: 10px;
    }

    figure{
       margin: 7px;
    }

    .figure{
        width: 13vw;
        height: 6vh;
    }

    .left{
        font-size: 10px;
        margin-left: 0;
    }

    iframe{
        width: 300px;
        height: 200px;
    }
}

footer{
    background-image: url(../img/花.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.go-top{
    padding-left: 26px;
    line-height: 70px;
}

.footer-lane{
    padding-top: 30px;
    width: 100%;
    background: linear-gradient(to bottom, #50c7ff, rgb(255, 255, 255) 90%);
}


.pagetop{
    border-radius: 80%;
    background-color: rgba(80, 199, 255, 0.5);
    width: 70px;
    height: 70px;
    position: fixed;
    top: 73%;
    right: 3%;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.scroll{
    opacity: 0;
    transition: all 0.5s ease;
}

.scroll:hover{
    transform: scale(1.1);
    background-color: #186dff;
}

.scroll:active{
    transform: translateY(20px);
}

.scroll.visible{
    opacity: 1;
}

.footer-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.anchor-below{
    font-family: serif;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: black;
    border: 1px solid black;
    width: 13vw;
    transition: 0.3s color ease-in-out;
}

.anchor-below:hover{
    color: rgba(0, 0, 0, 0.4);
}

.copyright{
    font-family: serif;
    text-align: center;
    line-height: 80px;
}

/* footerのレスポンシブ */
@media screen and (max-width: 1270px) {
    footer{
       width: 100%;
       height: 10vh;
    }

    .footer-lane{
        padding-top: -30px;
    }

    .anchor-below{
        width: 25vw;
    }

    .anchor-below{
        font-size: 14px;
        width: 35vw;
    }
}